@import "tailwindcss";

/* =========================
   TAILWIND THEME TOKENS
   ========================= */
@theme {
  --color-primary: #0f3b2e;
  --color-secondary: #0f3b2e;

  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
html {
  scroll-behavior: smooth;
}
